---
layout: layout.liquid
title: Week5
---
<header>
  <h6> Polaroid Cloud </h6>
</header>
<main>
  <section class="hero">
   <h2>Film to phone</h2>
  </section>
  <section class=details>
    <p> With polaroid Could, you can sync your photos to your favorite cloud servicewhile still enjoying the instant printing you've come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to teh web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>
    <h3>Any cloud, anytime.</h3>
    <ul>
      <li>Connect your polaroid to a WiFi network</li>
      <li>Configure your favorite cloud</li>
      <li>Point, shoot, and print your QR-tagged photo </li>
      <li>Share your physical and digital photos with friends and family</li>
    </ul>
  </section>
  <section class="cta">
    <h3>Be the first to know.</h3>
    <form action=#>
      <input type="text" placeholder= "Enter your email adress to recieve updates"><input type="button" value="Keepin touch">
    </form>

  
  <h4>Share your physical and digital photos with friends and family</h4>
  <h3>Be the first to know.</h3>


  <form action=”/submit-form” method=”post”>
    <input type=”text” name=”username” placeholder = 'Enter your Email Address to recieve notifications>
    <button type=”Submit”>Submit</button>
  </form>
</main>