@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color:#E9E9E9;
    --primary-text-color:#424242;
    --accent-color:#FF3F3C;
    --form-color:#E1E1E1;
}
nav {
    height: 20vh;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 2vh;
    font-size:1.75vh;
    align-items: stretch;
}

nav ul li a {
    display: inline-block;
    align-items: baseline;
    padding: .5vh;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 5vh;
    justify-content:space-evenly;
}
#Panda{
    border-radius: 50%;
    width: 15vh;
    height:15vh;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin:0;
    padding:0;
}
header {
    padding: 20px;
    margin-bottom: 100px;
}
header h1{
    margin:0;
    font-weight:normal;
}
main{
    background: url('/images/Polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width:1000px;
}
.hero{
    text-align: center;
    min-height: 800px;
}
.hero h2{
    font-size: 7em;
    line-height:1em;
    text-transform:uppercase;
    margin:0;
}
.details ul li{
    list-style-type:none;
    margin: 10px 0;
    padding: 0 0 0 40px;
}
.Wifi { background: url('/images/WIFI.svg') no-repeat center left;}
.QR { background: url('/images/QR.svg') no-repeat center left;}
.Media { background: url('/images/Media.svg') no-repeat center left;}
.Cloud { background: url('/images/Cloud.svg') no-repeat center left;}

#clickbutton{
    background-color: var(--accent-color);
    width:150px;
    height: 70px;
}
#email{
    width:400px;
    height:70px;
    padding: 0 20px 0 60px;
    
}
.input{
    display:flex;
    align-items:baseline;
    margin:40px auto;
}
h3{
    display:flex;
    justify-content: center;
    font-size:5vh;
}

form{
    background-color: var(--form-color);
    border-radius: 20px;
    width:700px;
    height:150px;
    margin: 0 auto;
}

